# Please put language-specific ignore patterns
# in a .gitignore file inside the root folder
# of that language. See Scala/.gitignore for
# an example. Thanks.
/C++/ConsoleApplication1/ConsoleApplication1.vcxproj.filters
/C++/ConsoleApplication1/ConsoleApplication1.vcxproj
/C++/ConsoleApplication1
